<div class="cards-container my-3">
  <% comments.each do |comment| %>
    <div class="card my-3">
      <div class="card-body">
        <p class="card-text"><%= comment.content %></p>
      </div>
    </div>  
  <% end %>  
</div>