<%= simple_form_for [restaurant, comment] do |f| %>
  <% if comment.errors.any? %>
    <div class="errors-container">
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
